/*Ensalda*/
.titulo{
    font-size: xx-large;
    padding: 15px;
}
.eslda{
    color: black;
    background-color: #4CAF50 ;
}
.enslda-1{
    background-color: #10c516;
}
.enslda-2{
    background-color: #45e74a;
}
/*Waflex*/
.waf{
    color: black;
    background-color: #ff9800;
}
.waf-1{
    color: black;
    background-color: #ff9800;
}
.waf-2{
    background-color: #ffad33;
}

/*Sandwich*/
.sand{

    color: black;
    background-color: #d0e640;
}
.sand-1{
    color: black;
    background-color: #d7ea5d;
}
.sand-2{
    color: black;
    background-color: #dfee7d;
}
/*Desayuno*/
.desayuno {
    color: black;
    background-color: #ffffcc;
}

.des-2{
    color: black;
    background-color: #ffff9e;
}
/*Omellette*/
.omlt{
    color: black;
    background-color: #ffdddd;
}
.omlt-2{
    background-color: #ffacac ;
}
/*Bionico*/
.bio{
    color: black;
    background-color:#7cffff;
}

.bio-2{
    color: black;
    background-color: #acffff;

}
.bio-3{
    color: black;
    background-color: #4dffff;
}
/*Smoothies*/
.smot {
    color: black;
    background-color: #87CEEB;
}
/*Bebidas*/
.beb{
    color: black;
    background-color: #67c2e5;
}
.beb-2{
    color: rgb(0, 0, 0);
    background-color: #4ab6e0 ;
}
.beb-3{
    color: rgb(0, 0, 0);
    background-color: #229bca;

}
/*Botana*/
.bot 
{
    color: rgb(255, 255, 255);
    background-color:  #bb00d8;
}
.bot-2{
    color: white;
    background-color: #d000f0;
}
/*Footer*/
.footer{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    background-image: url(Imagenes/foteer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;   
}
.footer h3,p{
    background-color: rgba(0, 0, 0, 0.505);
}

/*Precio color forma*/
.precio{
    background-color: rgba(0, 0, 0, 0.208);
    color: white;
}
.banderas
{
    background-color: black;
    color: white;
}

/*.smot
{
    background-image: url(Imagenes11/Nuevos/Smothies.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;

}
*/

